<aside class="sidebar">
    <div class="sidebar__header">
        <img src="assets/images/sidebar-header.jpg" alt="">
    </div>

    <div class="sidebar__content">
        <div class="profile">
            <img class="profile__avatar" src="https://via.placeholder.com/100" alt="">
            <div class="profile__name">Marin Roman</div>
            <div class="profile__prof">Front-end junior developer</div>

            <ul class="social">
                <li class="social__item">
                    <a class="social__link" href="#" target="_blank">
                        <img src="assets/images/instagram.svg" alt="instagram">
                    </a>
                </li>
                <li class="social__item">
                    <a class="social__link" href="#" target="_blank">
                        <img src="assets/images/vk.svg" alt="vk">
                    </a>
                </li>
                <li class="social__item">
                    <a class="social__link" href="#" target="_blank">
                        <img src="assets/images/pinterest.svg" alt="pinterest">
                    </a>
                </li>
            </ul>

            <div class="profile__text">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, doloremque. Eius distinctio in modi voluptatem cumque. At alias laborum tempore sunt, eum impedit. Natus fugiat nobis quidem, atque molestias voluptatem.
                </p>
            </div>
        </div><!-- /.sidebar__profile -->
    </div><!-- /.sidebar__content -->

    <div class="sidebar__footer">
        <a class="btn btn--red" href="#">Мои работы</a>
        <button class="btn btn--blue" type="button">Написать мне</button>
    </div>
</aside>